# dependencies
/node_modules

# next
/.next
/out

# production
/dist

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.log
coverage
playwright-report
test-results
tsconfig.tsbuildinfo
